/*reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 1em;
}

body {
    padding: 1em;
}

.banner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 1px;
    text-align: center;
    background: #2106ef;
    color: white;
}

.container {
    width: 30%;
    display: inline-block;

}

.container2 {
    width: 65%;
    display: inline;
    float: right;

}

.search {
    border-color: black;
    padding: 5px;
    background-color: rgb(26, 5, 149);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 100%
}

#cityLoc {
    width: 100%;
    margin-top: 5px;
    height: 30px;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 10px;
}

.todaysWeather {
    border: solid;
    margin-top: 20px;
    padding: 1em;
    border-width: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.dailyWeather {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    box-sizing: content-box;
    height: 100px;
}
.btn {

    padding: 3px;
    background-color: rgb(111, 110, 114);
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 15px;
    width: 100%;
}

#weatherContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
padding 10px;
    margin: 5px;
    background-color: #0d0de4;
    height: 200px;
    width: 150px;

}
.dateTextStyle {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 30px;
}

.ulList {
    padding: 10px;
}
.liList {
    list-style-type: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 30px;
}
